@font-face {
    font-family: 'Ikaros';
    src: url("../fonts/ikaros-sans/Ikaros-Regular.otf?jdhfis") format("opentype"),
    url('../fonts/ikaros-sans/Ikaros-Regular.woff?d7yf1v') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ikaros';
    src: url("../fonts/ikaros-sans/Ikaros-Light.otf?jdhfis") format("opentype"),
    url('../fonts/ikaros-sans/Ikaros-Light.woff?d7yf1v') format('woff');
    font-weight: normal;
    font-style: normal;
}